.popup__close-button-container {
  position: absolute;
  max-width: 510px;
  top: -40px;
  right: -40px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .popup__close-button-container {
    max-width: 282px;
    top: -36px;
    right: 0;
  }
}